@import '../../styles/mixins';
@import '../../styles/vars';

.social {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 24px;

  @include for-size(desktop-up) {
    width: 30%;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.dummy {
  display: inline-flex;
  margin-bottom: 8px;

  .circle {
    padding: 8px 10px;
    border-radius: 50%;
    border: $border;
    background-color: $white;
  }

  .text {
    display: none;
    align-items: center;
    margin-left: 12px;
    font-size: 14px;

    @include for-size(phone-up) {
      display: flex;
    }
  }
}
