%arrow {
  position: absolute;
  width: 7vw;
  max-width: 76px;
  min-width: 40px;
  top: 39px;
  bottom: 24px;
  background: rgba(0, 0, 0, 0.6);
  height: calc(100% - 62px);
}

%arrow-cast {
  @extend %arrow;

  height: 130px;
  margin: 0;
  top: 0;
  bottom: 0;
}

.arrow-left {
  @extend %arrow;
  left: 0;

  &.cast {
    @extend %arrow-cast;
  }
}

.arrow-right {
  @extend %arrow;
  right: 0;

  &.cast {
    @extend %arrow-cast;
  }
}
