@import '../../styles/mixins';
@import '../../styles/vars';

.iconInfos {
  margin-bottom: 16px;
}

.iconInfo {
  display: inline-flex;
  font-size: 14px;
  margin-right: 14px;

  img {
    margin-right: 4px;
  }
}

.ribbon {
  padding: 0 4px;
  font-size: 13px;
}

.general {
  flex: 3;
  max-width: 100%;
  background-color: $white;
  padding: 24px;
  border: $border;
}

.plot {
  line-height: 24px;
  margin-bottom: 24px;
}

.h5 {
  display: flex;
  align-items: center;
  margin-bottom: 12px;

  img {
    margin-right: 4px;
  }
}

.subtitles {
  td {
    padding-bottom: 4px;
  }

  tbody td {
    color: $gray-dark;
  }

  td + td {
    padding-left: 24px;
  }
}
