@import '../../styles/vars';

$padding-left: 15px;

.title {
  padding-left: $padding-left;
  color: $white;
  font-weight: 400;
}

.contentList {
  display: flex;
  padding-left: $padding-left;
  overflow: hidden;
}
