@import '../../styles/vars';

$padding-left: 15px;

%arrow {
  position: absolute;
  width: 7vw;
  max-width: 76px;
  min-width: 40px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
}

.title {
  padding-left: $padding-left;
  color: $white;
  font-weight: 400;
}

.contentList {
  display: flex;
  padding-left: $padding-left;
  overflow: hidden;
}

.arrow-left {
  @extend %arrow;
  left: 0;
}

.arrow-right {
  @extend %arrow;
  right: 0;
}
