@import '../../styles/vars';

$padding-left: 15px;

%arrow {
  position: absolute;
  width: 7vw;
  max-width: 76px;
  min-width: 40px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
}

.title {
  padding-left: $padding-left;
  color: $white;
  font-weight: 400;
}

.content {
  display: flex;
  padding-left: $padding-left;
  overflow: hidden;

  div {
    flex: 1;

    &:not(:first-child) {
      margin-left: 8px;
    }
  }
}

.arrow-left {
  @extend %arrow;
  left: 0;
}

.arrow-right {
  @extend %arrow;
  right: 0;
}
