@import '../../styles/vars';

.body {
  background-color: $gray;
}

.snapshot {
  height: 100%;
  max-height: 480px;
  width: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  padding: 0 20px 20px;
}

.iconInfos {
  margin-bottom: 16px;
}

.iconInfo {
  display: inline-flex;
  font-size: 14px;
  margin-right: 14px;

  img {
    margin-right: 4px;
  }
}

.ribbon {
  padding: 0 4px;
  font-size: 13px;
}

.general {
  flex: 3;
  max-width: 100%;
  background-color: $white;
  padding: 24px;
  border: $border;
}

.plot {
  line-height: 24px;
  margin-bottom: 24px;
}

.h5 {
  display: flex;
  align-items: center;
  margin-bottom: 12px;

  img {
    margin-right: 4px;
  }
}

.social {
  flex: 2;
  padding: 24px;
}

.dummy {
  display: flex;
  margin-bottom: 8px;

  .circle {
    padding: 8px 10px;
    border-radius: 50%;
    border: $border;
    background-color: $white;
  }

  .text {
    display: flex;
    align-items: center;
    margin-left: 12px;
    font-size: 14px;
  }
}

.subtitles {
  td {
    padding-bottom: 4px;
  }

  tbody td {
    color: $gray-dark;
  }

  td + td {
    padding-left: 24px;
  }
}
