@import '../../styles/mixins';
@import '../../styles/vars';

%arrow {
  position: absolute;
  width: 7vw;
  height: 130px;
  max-width: 76px;
  min-width: 40px;
  margin: auto;
  top: 0;
  bottom: 0;
}

.cast {
  display: flex;
  overflow: hidden;
}

div {
  > .arrow-left,
  .arrow-right {
    height: 130px;
    margin: 0;
  }
}

.arrow-left {
  @extend %arrow;
  left: 0;
}

.arrow-right {
  @extend %arrow;
  right: 0;
}
