@import '../../../styles/vars';

%cover-wrapper {
  height: auto;
  position: relative;
  background-color: #000;
  width: 22vw;
  min-width: 122px;
  max-width: 224px;
  background-size: contain;
  background-repeat: no-repeat;
}

.content {
  :not(:first-of-type) {
    margin-left: 5px;
  }
}

.cover-wrapper-movie {
  @extend %cover-wrapper;
  padding-top: 140%;
}

.cover-wrapper-show {
  @extend %cover-wrapper;
  padding-top: 75%;
}

.cover {
  width: 22vw;
  min-width: 122px;
  max-width: 224px;
  background-size: contain;
}

.secondary {
  display: flex;
  justify-content: space-evenly;
  padding: 6px 4px 0;
}

.rating {
  margin-left: 5px;
  color: $yellow;
  font-size: 13px;
}

.user {
  margin-left: 5px;
  color: $yellow;
  font-size: 13px;
}
