@import '../../../styles/vars';

%text {
  margin: 4px 0;
  text-align: center;
  font-size: 13px;
  max-width: 86px;
}

.cast {
  + .cast {
    margin-left: 8px;
  }
}

.photo {
  max-width: 86px;
  min-height: 130px;
  object-fit: cover;
}

.name {
  @extend %text;
}

.director {
  @extend %text;
  font-style: italic;
}
